$primaryColor: #177e89;
$secondaryColor: #f07f42;
$fontColor: #000;
$plumColor: #9c528b;
$vanillaColor: #f0f2a6;

$defaultFont: "Lato", sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;
